<text class="my_h2">Overview</text>
<div class="subcontent">
    <div class="subcontent_img_wrapper">
        <span class="subcontent_img_wrapper">
            <img class="subcontent_img" id="ML_Snapshot" src="https://andrewleiwebresources.blob.core.windows.net/website-resources/ML_snapshot.png">
        </span>
    </div>
    <div class="subcontent_text">
        <span class="subcontent_text">
            After taking Andrew Ng's Stanford Machine Learning Course on Coursera, I had the same thought so many other coders must have had before: use it for stocks. Of course, if it were so easy, everyone would be doing it right? Nevertheless that it might have seemed ridiculous, I wanted to try it for myself and see what it could do. 
            <br><br>
            This project was my first experience with machine learning, which I plan on using on several of my future applications. It introduced me to web scraping, data formatting, natural language processing and sentiment analysis, feature engineering, and model training.
        </span>
    </div>
</div>