<text class="my_h2">What's Next</text>
<div class="subcontent">
    <div class="no_img subcontent_text">
        <span class="no_img subcontent_text">
            I am currently still working on the second approach. There are a few tweaks that need to be made, and unfortunately, my computer's training time is rather slow, making the time it takes for me to test out each model structure ~20 hours. Despite having a superior GPU to my friends, he was able to complete the same training in under 5 hours. I am a bit unsure with how to debug this issue at the moment, and he has since returned the computer, leaving me unsure how his was able to run at such a speed. So I need to research how to optimize my GPU and benchmark it to make sure it is training at an appropraite speed.
            <br><br>
            I would eventually like to work more closely with my technical analysis friends and analyze their main trading strategies for implementation within my ML structure. I am big on self-understanding, and if they could further inspect how they choose to make decisions on trading, I could replicate it in a program, which could be much more easily scaled up. A ML model that has the strategies of various successful traders as features, is able to react in real time, and can analyze and judge a stock within milliseconds would prove to be a very useful tool to have in the future. Whether it would work as well as I am thinking has yet to be proved, but I believe it is worth the effort to continue and find out.
        </span>
    </div>
</div>