<text class="my_h2">Why?</text>
<div class="subcontent">
    <div class="no_img subcontent_text">
        <span class="no_img subcontent_text">
            At the time, I had a couple of friends who were successfully trading stocks, and they explained the concept of technical analysis to me - how detecting patterns in charts could be used to predict the direction that a stock is heading towards.
            <br><br>
            The way that my friends were looking at charts were more on the intuitive side. They relied more on cognitive pattern recognition rather than quantative analysis. That is not to discount their abilities, but charts are based off of numbers and can therefore be easily quantitatively defined. As the premise of technical analysis is that these charts follow a pattern, albeit a bit loosely, I figured machine learning could be used to at least find correlation between the movement of a stock and its features. I would only need to understand the major aspects that an ML model would need to consider when predicting a stock's direction.
        </span>
    </div>
</div>