<div class="subcontent_img_wrapper" style="top:0 !important">
    <span class="subcontent_img_wrapper">
        <img id="ECE118_bot_img" class="subcontent_img" src="https://andrewleiwebresources.blob.core.windows.net/website-resources/ece118_final.PNG">
        <text id="ECE118_label">
            <i>The only picture we had of our complete bot included me in it.</i>
        </text>
    </span>
</div>
<div class="subcontent_text">
    <span class="subcontent_text">
        The autonomous bot for our mechatronics final project had to remotely detect a beacon emitting a 2 kHz signal, navigate to it while avoiding black tape on the floor, detect the correct side of the beacon using a trackwire sensor, and deposit a ping pong ball into the correct whole as indicated by a black tape. 
        <br><br>
        I obtained much of my hardware skills from mechatronics; prior to this class, I had very little experience with hardware. Developing an algorithm for robot behavior that fits to specs, learning how hardware and sensors can be read in by microcontrollers, did wonders for my perspective on engineering. As an extremely hands-on experience, it opened my eyes to all that is required to make a complete working product.
        <br><br>
        The full documentation for our final mechatronics project can be found <a href="https://andrewleiwebresources.blob.core.windows.net/website-resources/ECE118_Final_Project.pdf" target="_blank">here</a>.
    </span>
</div>