<text class="my_h2">Data/Signal Communication and Interpretation</text>
<div class="subcontent">
    <div class="subcontent_img_wrapper">
        <video id="led_video" width="100%" height="auto" controls>
        <source src="https://andrewleiwebresources.blob.core.windows.net/website-resources/leds_runaway.mp4" type="video/mp4">
    </div>
    <div id="ints_2_text" class="subcontent_text">
        <text>
            The flow of data and signals working along together to provide some desired action or result is a beautiful thing. All the work of a coder is communicating to a computer what they want it to do - the key is they need to properly express how.
            <br> <br>
            As a computer engineer, my academic experience has been focused on getting hardware and software to properly communicate with one another. I've calibrated a variety sensors to be able to communicate the physical world to digital software and coded that software to react according to what the situation calls for, even sometimes sending signals back to hardware to give physical reactions. Preserving the underlying signal and having it take different forms and expressions give way to awesome effects.
            <br> <br>
            This is a program my friend and I wrote that controls LEDs according to audio signals.
        </text>
    </div>
    <div class="projects_redirect">
        <a href="/projects">
            Click here for more on my projects
        </a>
    </div>
</div>