<text class="my_h2">Machine Learning</text>
<div class="subcontent">
    <div class="subcontent_img_wrapper">
        <img class="subcontent_img" id="ML_Snapshot" src="https://andrewleiwebresources.blob.core.windows.net/website-resources/ML_snapshot.png">
    </div>
    <div class="subcontent_text">
        As one of the most powerful, and progressive subfields in modern computer science, machine learning is of natural interest to me and many other coders. A model's ability to emulate, if not outperform, humans in tasks previously thought as too obscure without being explicitly told how to is nothing short of astounding. 
        <br><br>
        I introduced myself to machine learning by taking Coursera's Machine Learning by Stanford course, taught by Andrew Ng. After completing the course, I utilized its applications for my own programs, with ideas for how it could be used for technical analysis and human decision making. These experiences have given me insight into developing models, including how one should determine the model's structure, which features to include, and how to prep data for an ML project.
        <br><br>
        I look forward to continue exploring machine learning's possible applications to all sorts of real-world problems!
    </div>
    <div class="projects_redirect">
        <a href="/projects">
            Click here for more on my projects
        </a>
    </div>
</div>