<text class="my_h2">What's Next</text>
<div class="subcontent">
    <div class="no_img subcontent_text">
        <span class="no_img subcontent_text">
            More patterns and better sound categorization. We also plan on making our product more consumer friendly. This would require integrating ways to alter the patterns and change certain code thresholds without accessing the code directly and reprogramming the microcontroller. The current idea we have for doing this is developing a mobile app that can interact with a radio signal module connected to the Arduino Nano.
            <br><br>
            Eventually I am interested in exploring how machine learning can be applied to our LEDs. Of course, our Arduino Nano's hardware would not be sufficient for this. As we add more features, memory management will grow as a problem already. So we plan on moving to a Jetson Nano as the hardware for this version. Machine learning's capabilities could allow for mapping colors to specific types of sounds with better sound categorization, dynamic patterns that change during appropriate parts of the song, and tempo detection.
        </span>
    </div>
</div>