<text class="my_h2">Software</text>
<div class="subcontent">
    <div class="no_img subcontent_text">
        <span class="no_img subcontent_text">
            The Arduino runs on an infinite loop. It samples the audio signal in intervals and does a Fourier transform on the sample. This allows us to observe the present frequencies and their magnitudes. By keeping track of this, we can associate certain sounds with a magnitude and frequency. As an example, a kick drum would have lower frequency's at higher magnitudes. In our code, we interpret the frequencies' magnitudes, and use that to play different light patterns.
            <br><br>
            Since starting, we've various light patterns to pair with different sounds. We try to use some combination of what we would believe to look good and what "makes sense". This would include targetting LEDs based off the most dominant frequency, with higher frequencies targetting LEDs further down the strip. So as a sound's dominant frequency gets higher, it creates an effect similar to the video in "Overview."
        </span>
    </div>
</div>