<text class="my_h2">Overview</text>
<div class="subcontent">
    <div class="subcontent_img_wrapper">
        <span class="subcontent_img_wrapper">
            <video id="led_video" width="90%" height="auto" controls>
                <source src="https://andrewleiwebresources.blob.core.windows.net/website-resources/leds_poh.mp4" type="video/mp4">
            </video>
        </span>
    </div>
    <div class="subcontent_text">
        <span class="subcontent_text">
            A friend, Christopher Gilmore, and I wrote a program that makes addressable LEDs music reactive. What started off as a small Christmas gift for my sister became increasingly advanced as Chris and I added more features, changed code structures, and improved core mechanics.
            <br><br>
            Relative to some of my other projects, which had more defined goals for success, the success of this project was almost entirely subjective and therefore more abstract. As my partner and I both simply wanted it to look good, it forced us to be more creative and to test out more possibilities rather than to research specific solutions to problems.
            <br><br>
            This was also my most closely collaborative project. That is to say, I've rarely had a partner that would be explicitly working on the same parts of code as I. This forced both of us to more closely understand each others' code and, when adding new features, to make sure that there isn't a loss of functionality and that a clean merge can be made between different branches of code.
        </span>
    </div>
</div>