<text class="my_h2">Do it with Heart. Do it for Love.</text>
<div class="subcontent">
    <text class="subcontent">
        Through which method would the optimal outcome arise? Looking at life itself, somehow it seems that no amount of intellect and trickery manages to outsmart genuine care and intimacy. If the desired outcome is obtained, it comes at some equal cost, which even if left unnoticed, is there nonetheless. For love, we can let go of our fears and take the leap of faith. It is what makes us whole - to live with and act out of what we believe in and feel most deeply about. Only through dedicating our hearts fully, can we transcend our limits and allow for endless possibilities. Then we eventually find ourselves not fixated on the end goal, but to have found happiness sometime during the search. Perhaps that is optimal.
    </text>
</div>