<text class="my_h2">Finding Truth</text>
<div class="subcontent">
    <text class="subcontent">
        As individuals, humans have different truths. However, it is each our own duties to self-actualize and find our own truths - that is to say to find our method of being true to oneself. Who are we, what do we believe in, and what do we live for? Life is a ceaseless process of more deeply understanding ourselves and being able to answer these questions more accurately. 
        <br><br>
        Truth is inevitable - it persists whether or not we recognize it. Despite humans' nature to avoid and resist it in an attempt to cling to a more favorable delusion, we can only put it off for so long before we are forced to confront it. Yet, when we sit still with an open mind and listen, we realize it was not to be fought to begin with. Clarity. Sounds and colors have higher resolution. We no longer feel like we are simply convincing ourselves at each turn, but rather we know truth.
    </text>
</div>