<text class="my_h2">Flow</text>
<div class="subcontent">
    <text class="subcontent">
        Flow, the "optimal experience" as described by Mihaly Csikszentmihalyi, is the state of being in which one is fully engaged with the present moment. Athletes, many whom claim to experience flow in their greatest moments of play, get immediate feedback on their performance and make swift adjustments accordingly. Of course, flow is not only experienced by athletes, but anyone. It is simply a state of high awareness when one lives and acts in accordance with some combination of the moment and all their previous experiences - the natural way to live life.
        <br><br>
        One noteworthy aspect of flow is that it is not brought about through one's intellect. There is not a defined way of entering it. This is because it is not about acting out your own will on the world, but rather  taking in the world and letting it run through you, allowing yourself to be used as a vessel.
        <br><br>
        This is Wu Wei, or "effortless action". One does not try but only acts. Letting go of the idea of rigid control and inflexibility and realizing that the only constant is change, one is able to flow like water, taking the form of whatever the situation calls for.
    </text>
</div>