<text class="my_h2">Animating part 1</text>
<div class="subcontent">
    <div class="no_img subcontent_text">
        <span class="no_img subcontent_text">
            Learning to manipulate HTML elements and changing their CSS through JavaScript was probably the most time-consuming part of this website. Nevertheless, to make the website feel more dynamic and alive, I felt animation, and therefore editing elements with JavaScript, was necessary. The library, anime.js, was very useful for animating the winds on the homepage. It is a rather seemless library, although it didn't fit some of the purposes I'd hoped to use it for. 
            <br><br>
            By the time that I tried to use its SVG morph function, I already had the idea that I could draw out the frames of animation and change the SVG element's values instead. Since SVG morph wasn't working as I had hoped and I couldn't find documentation why, I tried this approach. Using basic JavaScript to change elements on a frame-by-frame basis was more versatile - it worked not only for animating SVG waves, but also images and text. Frame by frame animation is animation itself, after all, and I would bet anime.js uses the same tactics but with better tools, of course. 
        </span>
    </div>
</div>