<text class="my_h2">Overview</text>
<div class="subcontent">
    <div class="no_img subcontent_text">
        <span class="no_img subcontent_text">
            Due to a lack of formal experience, I needed some other way to stand out amongst candidates when applying for jobs, so I figured I would code my own website. This way, rather than to talk about my code or previous experiences, I would have an opportunity to show employers what I'm like and capable of. Its not being a traditional resume allows me to be more expressive with what I'm showing rather than be limited to what I write. While I talk about my projects, I think it's cooler to show others in what is also one of my projects. 
            <br><br>
            Starting this website out, I had no prior experience to Javascript and CSS. I could make basic pages with HTML, but nothing that would be dynamic or pretty. This project required that I learn these new skills and utilize some of the previous experience I have with animation and Adobe Illustrator to make the home page background and wave and wind effects. Disclaimer: while I animated the Spongebob bubble background, I did not draw and do not own it. 
            <br><br>
            Anyways, creating this website and learning the tools required to make it along the way was an interesting and rewarding experience me. I thank you for visiting and hope you enjoy your stay! I plan on updating the site with new features, so please check back sometime in the future.
            <br> <br>
            All the code for this website can be found on its <a href="https://github.com/Andrew-J-Lei/ResumeWebsite" target="_blank">GitHub Repository</a>
        </span>
    </div>
</div>