<text class="my_h2">What's Next</text>
<div class="subcontent">
    <div class="no_img subcontent_text">
        <span class="no_img subcontent_text">
            I am definitely not finished adding features to this site. In the future, if I have some idea I want to try out and share with others, I will put it here. I hope to host many small interactive projects and minigames on this site. This would allow  you guys to interact with more of my projects (similar to this site) rather than my simply telling you about them.
            <br><br>
            If you have any fun ideas, please email me at andrew.j.lei.31@gmail.com. I will consider coding it here on the site!
        </span>
    </div>
</div>