<text class="my_h2">Animating part 2</text>
<div class="subcontent">
    <div class="subcontent_img_wrapper">
        <span class="subcontent_img_wrapper">
            <img id="wave_svg_img" class="subcontent_img" src="https://andrewleiwebresources.blob.core.windows.net/website-resources/wave_svg.png">
            <text>
                <i>Screenshot of the different frames required for the wave animation</i>
            </text>
        </span>
    </div>
    <div class="subcontent_text">
        <span class="subcontent_text">
            The winds and waves on the site were both scalable vector graphics (SVGs). Any shape can be communicated as an SVG, which consists of one or more path codes. After drawing the shapes in Adobe Illustrator, I was able to move the path codes from Illustrator to HTML, allowing for me to recreate the shapes on my website. The SpongeBob images were edited on Adobe Illustrator to have transparent backgrounds. Unfortunately, images contain a relatively large amount data, and therefore they're more difficult to load and animate. This is why the bubbles might appear less smooth than animating the waves, wind, and text. 
        </span>
    </div>
</div>