<text class="my_h2">Overview</text>
<div class="subcontent">
    <div class="subcontent_img_wrapper">
        <span class="subcontent_img_wrapper">
            <img id="wave_svg_img" class="subcontent_img" src="https://andrewleiwebresources.blob.core.windows.net/website-resources/cad_sensors.PNG">
            <text>
                <i>CAD model and sensor placement</i>
            </text>
        </span>
    </div>
    <div class="subcontent_text">
        <span class="subcontent_text">
            For our senior design project, my group designed a self-balancing assistive robot. The robot could work as a cargo carrier for small loads of items, providing aid for those physically disabled or anyone that could use an extra hand. Despite that my group had to work remotely during the latter part of this project, we managed to create a satisfactory design.
            <br><br>
            I worked on the bot's behavior and ping sensor calibration and assisted with the ComputerVision aspect of it. My previous experience with hardware-software interaction and state machines allowed me to properly plan how the bot was going to detect changes in the physical environment and react accordingly. Since we could not make a physical prototype, we proved concepts through digital test environments and test benches.
            <br><br>
            The full documentation for our senior design project can be found <a href="https://andrewleiwebresources.blob.core.windows.net/website-resources/Final_Design_Document.pdf" target="_blank">here</a>.
        </span>
    </div>
</div>