<div id="thought">
    <h1 id="thought_title">Bruce Lee</h1>
    <div id="text_wrapper">
        <text id="thought_content">
            Did you know Bruce Lee is considered to be the father of Mixed Martial Arts? Chinese culture is deeply integrated with tradition. As such, many martial arts practitioners do not learn or practice techniques from outside their school. After learning Wing Chun and believing himself to had mastered it, he started to recognize certain aspects of it that could be improved upon. This would, however, go against Wing Chun itself, as martial arts schools have defined techniques that give them their substance. Nevertheless, this lead him to confront an issue - there comes a point where adhering to what you have learned holds you back. Despite that he was discouraged from doing so, he began to explore techniques from other schools of martial arts under the belief that doing so could improve his skills as a fighter. He was correct. As his new way of fighting was not based on any one martial arts school, he essentially used "mixed martial arts".
            <br><br>
            Bruce Lee saw his fighting prowess as a manifestation, not the entirety, of his personal philosophy which is largely based on Taoism. And to me, that is there are more amazing parts of him rather than just his fighting. What he believed in and lived by is simply that one should not limit themself as they could adapt to anything and be anything.
            <br><br>
            "Empty your mind. Be formless, shapeless — like water. You put water into a cup, it becomes the cup. You put water into a bottle, it becomes the bottle. You put it in a teapot, it becomes the teapot. Now water can flow or it can crash. Be water, my friend."
        </text>
    </div>
</div>