<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_1.css') }}"> -->
    {{ stylesheet }}
    {{ js }}
    <!-- <script type="text/javascript" src="{{url_for('static', filename='js/scroll.js') }}"></script> -->
</head>
<body>
    <div class="nav_bar center">
        <div class="nav_bar row">
            <div class="nav_bar column">
                <p>Social media links here</p>
            </div>
            <div class="nav_bar column">
                <p>Home</p>
            </div>
            <div class="nav_bar column">
                <p>Andrew Lei</p>
            </div>
<!--             <div class="nav_bar column">
                <p>About me</p>
            </div>
            <div class="nav_bar column">
                <p>Resume</p>
            </div>
            <div class="nav_bar column">
                <p>Cover Letter</p>
            </div>
            <div class="nav_bar column">
                <p>Projects</p>
            </div>
            <div class="nav_bar column">
                <p>Fun Things</p>
            </div> -->
        </div>
    </div>
    {% block content %}{% endblock %}
    {% block jscss %}{% endblock %}
</body>
</html>
