{% extends 'basic_page.html' %}

{% block content %}

<div class="home_bg">
    <div class="intro">
        <div id="intro_text"> "Hello, my name is Andrew, and I'm a computer engineer." </div>
        <div id="intro_img_wrap">
            <img id="prof_pic" src="https://andrewleiwebresources.blob.core.windows.net/website-resources/1565203348035.jfif" alt="Andrew Lei">
        </div>
        <svg id="wind_1a_container">
            <path class="wind_path wind_1" id="wind_1a_path" stroke="white" stroke-width="4" fill="NONE" d="M 20 150 Q 80 150 140 130 Q 170 120 160 90 Q 140 60 110 80 Q 90 100 110 130 Q 170 160 300 150">
        </svg>
        <svg id="wind_1b_container">
            <path class="wind_path wind_1" id="wind_1b_path" stroke="white" stroke-width="4" fill="NONE" d="M 20 150 Q 80 150 140 130 Q 170 120 160 90 Q 140 60 110 80 Q 90 100 110 130 Q 170 160 300 150">
        </svg>
    </div>
    <div class="credentials content_section center rounded">
        <text class="my_h1"> Formal Credentials </text>
        <div class="content">
            <div class="in_content">
                <div id="UCSC_logo_wrap">
                    <img id="UCSC_logo" src="https://andrewleiwebresources.blob.core.windows.net/website-resources/UCSC-Logo.png" alt="UCSC Logo">
                </div>
                <div id="creds_text_fields">
                    <text>
                        Alma Mater: <br />
                        Major: <br />
                        Time of Graduation: <br />
                        Formal Experiences: <br />
                    </text>
                </div>
                <div id="creds_text_answers_wrapper">
                    <text>
                        UC Santa Cruz <br />
                        Computer Engineering - Robotics Focus <br />
                        Summer 2020 <br />
                        NONE <br />
                    </text>
                </div>
            </div>
        </div>
    </div>
    <div class="interests content_section center rounded">
        <text class="my_h1"> Formal Credentials </text>
        <div class="content">
            <div id="int_ch_content">
                Here is some content that has to change
                <!-- <button type="button" onclick="changeInterests()">Change Content</button> -->
            </div>
            <div class="subcontent_nav center">
                <button type="button" id="dec_ints_butt" class="trans_butt unsel_butt" onclick="decrementInterests()"> < </button>
                <button type="button" id="ints_1_butt" class="trans_butt unsel_butt" onclick="changeInterests(1)"> • </button>
                <button type="button" id="ints_2_butt" class="trans_butt unsel_butt" onclick="changeInterests(2)"> • </button>
                <button type="button" id="ints_3_butt" class="trans_butt unsel_butt" onclick="changeInterests(3)"> • </button>
                <button type="button" id="dec_ints_butt" class="trans_butt unsel_butt" onclick="incrementInterests()"> > </button>
            </div>
        </div>
    </div>
    <div class="philosophies content_section center">
    </div>
</div>
{% endblock %}

{% block jscss %}
<!-- <script src="{{url_for('static', filename='js/animejs/lib/anime.es.js') }}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/homepage.js') }}"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/require.js') }}"></script> -->
<!-- <script data-main="{{url_for('static', filename='js/homepage.js') }}" src="{{url_for('static', filename='js/require.js') }}"></script> -->
<link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/home_style.css') }}">
{% endblock %}
