{% extends 'basic_page.html' %}

{% block content %}

<div id="intro_wrap">
    
</div>
<div id="personal_projects">
    <text class="section_intro" id="personal_label">
        Personal Projects
    </text>
    <div id="lit_show" class="personal content_section project center rounded">
        <text class="my_h1">
            Music Reactive LEDs
        </text>
        <div class="content">
            <div id="ints_ch_content">
                Here is some content that has to change
            </div>
            <div class="subcontent_nav center">
                <button type="button" id="dec_sdp_butt" class="butt unsel_butt" onclick="decrement_subcontent('sdp')"> < </button>                
                <button type="button" id="sdp_1_butt" class="butt unsel_butt" onclick="change_subcontent('sdp', 1)"> • </button>
                <button type="button" id="sdp_2_butt" class="butt unsel_butt" onclick="change_subcontent('sdp', 2)"> • </button>
                <button type="button" id="sdp_3_butt" class="butt unsel_butt" onclick="change_subcontent('sdp', 3)"> • </button>
                <button type="button" id="dec_sdp_butt" class="butt unsel_butt" onclick="increment_subcontent('sdp')"> > </button>
            </div>
        </div>
    </div>
    <div id="anal_bot" class="personal content_section project center rounded">
        <text class="my_h1">
            Technical Analysis Machine Learning Model
        </text>
        <div class="content">
            <div id="ints_ch_content">
                Here is some content that has to change
            </div>
            <div class="subcontent_nav center">
                <button type="button" id="dec_anal_bot_butt" class="butt unsel_butt" onclick="decrement_subcontent('anal_bot')"> < </button>                
                <button type="button" id="anal_bot_1_butt" class="butt unsel_butt" onclick="change_subcontent('anal_bot', 1)"> • </button>
                <button type="button" id="anal_bot_2_butt" class="butt unsel_butt" onclick="change_subcontent('anal_bot', 2)"> • </button>
                <button type="button" id="anal_bot_3_butt" class="butt unsel_butt" onclick="change_subcontent('anal_bot', 3)"> • </button>
                <button type="button" id="anal_bot_sdp_butt" class="butt unsel_butt" onclick="increment_subcontent('anal_bot')"> > </button>
            </div>
        </div>
    </div>
    <div id="ResumeWebsite" class="personal content_section project center rounded">
        <text class="my_h1">
            Resume Website
        </text>
        <div class="content">
            <div id="ints_ch_content">
                Here is some content that has to change
            </div>
            <div class="subcontent_nav center">
                <button type="button" id="dec_resume_butt" class="butt unsel_butt" onclick="decrement_subcontent('resume')"> < </button>                
                <button type="button" id="resume_1_butt" class="butt unsel_butt" onclick="change_subcontent('resume', 1)"> • </button>
                <button type="button" id="resume_2_butt" class="butt unsel_butt" onclick="change_subcontent('resume', 2)"> • </button>
                <button type="button" id="resume_3_butt" class="butt unsel_butt" onclick="change_subcontent('resume', 3)"> • </button>
                <button type="button" id="resume_sdp_butt" class="butt unsel_butt" onclick="increment_subcontent('resume')"> > </button>
            </div>
        </div>
    </div>
</div>
<div id="school_projects">
    <text class="section_intro" id="school_label">
        School Projects
    </text>
    <div id="SDP" class="school content_section project center rounded">
        <text class="my_h1"> 
            Senior Design Project - Assistive Self-Stabilizing Robot
        </text>
        <div class="content">
            <div id="ints_ch_content">
                Here is some content that has to change
            </div>
            <div class="subcontent_nav center">
                <button type="button" id="dec_sdp_butt" class="butt unsel_butt" onclick="decrement_subcontent('sdp')"> < </button>                
                <button type="button" id="sdp_1_butt" class="butt unsel_butt" onclick="change_subcontent('sdp', 1)"> • </button>
                <button type="button" id="sdp_2_butt" class="butt unsel_butt" onclick="change_subcontent('sdp', 2)"> • </button>
                <button type="button" id="sdp_3_butt" class="butt unsel_butt" onclick="change_subcontent('sdp', 3)"> • </button>
                <button type="button" id="dec_sdp_butt" class="butt unsel_butt" onclick="increment_subcontent('sdp')"> > </button>
            </div>
        </div>
    </div>
    <div id="ECE118" class="school content_section project center rounded">
        <text class="my_h1"> 
            Mechatronics Final Project - Autonomous Robot
        </text>
        <div class="content">
            <div id="ints_ch_content">
                Here is some content that has to change
            </div>
            <div class="subcontent_nav center">
                <button type="button" id="dec_ECE118_butt" class="butt unsel_butt" onclick="decrement_subcontent('ECE118')"> < </button>                
                <button type="button" id="ECE118_1_butt" class="butt unsel_butt" onclick="change_subcontent('ECE118', 1)"> • </button>
                <button type="button" id="ECE118_2_butt" class="butt unsel_butt" onclick="change_subcontent('ECE118', 2)"> • </button>
                <button type="button" id="ECE118_3_butt" class="butt unsel_butt" onclick="change_subcontent('ECE118', 3)"> • </button>
                <button type="button" id="ECE118_sdp_butt" class="butt unsel_butt" onclick="increment_subcontent('ECE118')"> > </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jscss %}
<script type="text/javascript" src="{{url_for('static', filename='js/projects.js') }}"></script>
<link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/project_style.css') }}">
{% endblock %}
