/*--------------------------------- Page Template ----------------------------*/

.center {
  margin: 0 auto;
  width: 50%;
  padding: 0px;
  z-index: 0;
}

div.nav_bar.center{
  position: fixed; 
  top: 0px;
  z-index: 1000;
  border: none;
  font-size: 12px;
  background-color: #2980B9;
  color: #f1f1f1;
  width: 102%;
  height:40px;
}

div.nav_bar.column {
  text-align: center;
  float: left;
  width: calc(100%/8);
  padding: 0px;
  z-index: 0;
  border-style:/*solid;
  border-color:#1434A*/4;
  height:37px;
  border-radius:0.5px;
  font-size: 14px;
  padding-top:6px;
  display:table-cell;
  vertical-align: middle;
  margin-top:5px;
  overflow:hidden;
}

#contact{
  float:right;
  width:400px;
  margin-right: 20px;
  display:inline-block;
}

#email{
  top:0px;
  display:inline-block;
  margin-top:-10px;
}

#linkedin{
  margin-top:0px;
}

#makethiswhite{
  color:white;
  text-decoration:none;
  margin-top:5px;
}

/* Clear floats after the columns */
div.nav_bar.row:after {
  content: "";
  display: table;
  clear: both;
  z-index: 0;
}

/*----------------------------------- Projects Page --------------------------*/

.section_intro{
  text-align:center;
  font-size:80px;
  position:relative;
}

#page_intro{
  color:white;
  position:absolute;
  top:250px;
  width:100%;
  text-align:center;
  font-size:100px;
}

#intro_video{
  top:0px;
  z-index:-1;
}


#personal_projects{
  top:100px;
  text-align:center;
  width:100%;
  height:2200px;
  background-color:#f2f2f2;
}

.personal{
  background-color:rgba(255, 255, 255, 0.7);
}

#school_projects{
  height:1600px;
  text-align:center;
  width:100%;
  background-color:#fff;
}

.school{
  background-color:rgba(242, 242, 242, 0.7);
}

.project{
  text-align:left;
  display:block;
  position:relative;
  width:80%;
  height:500px;
}

#personal_label{
  top:50px;
}

#lit_show{
  top:150px;
}

#led_video{
  position:relative;
  top:0px;
  z-index:1;
  float:right;
}


#anal_bot{
  top:250px;
}

#ResumeWebsite{
  top:350px;
}

#school_label{
  top:50px;
}

#SDP{
  top:250px;
}

#ECE118{
  top:150px;
}

#ECE118_bot_img{
  height:auto;
  width:300px;
  margin-left:10%;
}

#ECE118_label{
  display:inline-block;
  margin-left:40px;
  width:300px;
}

/*----------------------------------- General Style --------------------------*/
html{
  width:100%;
  display:inline-block;
  /*overflow:hidden;*/
  z-index: 0;
}

body {
  width:100%;
  margin: 0;
  display:inline-block;
  z-index: 0;
}

div.rounded {
  border-radius: 10px;
  z-index: 0;
}

/*.content_section{
  background-color:rgba(255, 255, 255, 0.7);
  z-index: 0;
}*/

.my_h1{
  font-weight: bold;
  position: relative;
  top: 10px;
  float:left;
  margin-left:25px;
  font-size: 200%;
  z-index: 0;
}

.ch_content{
  top: 2%;
  height:90%;
  width:100%;
  z-index: 0;
}

div.content{
  display:inline-block;
  position:relative;
  top:2%;
  height:89%;
  width:100%;
  z-index: 0;
}

.my_h2{
  font-weight: bold;
  position: relative;
  top: 10px;
  float:left;
  margin-left:25px;
  font-size: 125%;
  z-index: 0;
}

div.subcontent{
  display:inline-block;
  position:relative;
  top:20px;
  /*height:85%;*/
  /*% not working for height*/
  height:285px;
  width:100%;
  z-index: 0;
}

div.subcontent_img_wrapper{
  display:table;
  position: relative;
  top:10%;
  float:left;
  margin-right:25px;
  height: 80%;
  width: 45%;
  z-index: 0;
}

span.subcontent_img_wrapper{
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  padding-left: 25px;
  padding-right:25px;
}

.subcontent_img{
  position:relative;
  float:right;
  display:inline-block;
  width:100%;
  height:auto;
  z-index: 0;
}

div.subcontent_text{
  height:100%;
  width: 45%;
  display: table;
  position: relative;
  float:left;
  margin-left:2%;
  overflow: auto;
}

span.subcontent_text{
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  padding-left: 25px;
  padding-right:25px;
}

div.subcontent_nav{
  bottom:0px;
  float:left;
  margin-left:40%;
  position:absolute;
  height:35px;
  width:25%;
  z-index: 0;
}

text.subcontent{
  padding-left: 25px;
  padding-right:25px;
  display:block;
}

.butt{
  font-size:30px;
  position:relative;
  display:inline-block;
  font-weight: bold;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  z-index: 0;
}

.sel_butt{
  color:black;
  z-index: 0;
}

.unsel_butt{
  color:gray;
  z-index: 0;
}

video{
  display:inline-block;
}

div.no_img{
  width:90%;
  margin-left:25px;
}

span.no_img{
  padding-left:0px;
  padding-right:0px;
}