
/*Used for fixed vs relative navigation bar*/
/*html:not([data-fixed='true']) div.nav_bar.center{
  position: relative;
  top: 0px;
}

html:not([data-fixed='false']) div.nav_bar.center{
  position: fixed; 
  top: 0px;
}*/

/*--------------------------------- Page Template ----------------------------*/

.center {
  margin: auto;
  width: 50%;
  padding: 0px;
}

div.nav_bar.center{
  position: fixed; 
  top: 0px;
  z-index: 1;
  border: none;
  font-size: 12px;
  background-color: #282A35;
  color: #f1f1f1;
  width: 102%;
  height:40px;
  font-family: 'Source Sans Pro', sans-serif;
}

div.nav_bar.column {
    float: right;
    width: calc(100%/6);
    padding: 2px;
}

/* Clear floats after the columns */
div.nav_bar.row:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------- Home Page ----------------------------*/

.home_bg{
  background-image: url("https://andrewleiwebresources.blob.core.windows.net/website-resources/iceberg-01.png");
  height:375%;
  width:100%;
  padding:0px;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_section{
  background-color:rgba(255, 255, 255, 0.6);
}

h1.content_heading{
  position: relative;
  /*padding: 10px;*/
  float:left;
  margin-left:3%;
  font-size: 200%;
}

/*------------------------------------- Intro --------------------------------*/

div.intro{
  position: relative;
  top:2%;
  height:25%;
}

#intro_text{
  float:left;
  width:45%;
  position: relative;
  margin-left: 10%;
  padding:1%;
  top:20%;
  font-size: 400%;
  overflow: auto;
}

#intro_img_wrap{
  float:left;
  height: 320px;
  width: 240px;
  margin-left: 3%;
  position: relative;
  top:20%;
  border-radius: 50%;
  overflow: hidden;
}

#prof_pic{
  display: inline;
  float:left;
  margin-left: -25px;
  height: 100%;
  width: 133%;
}

#waves_wrap{
  position:absolute;
  bottom:30px;
  width:100%;
  height:100px;
}

#waves{
  width:100%;
}

/*----------------------------------- Credits --------------------------------*/

div.credentials{
  top:5%;
  position:relative;
  height:10%;
  width:80%;
}

#UCSC_logo_wrap{
  /*top:20px;*/
  position:relative;
  width: 50%;
}

#UCSC_logo{
  width: 50%;
  height:auto;
  float: left;
  margin-left: 10%;
}

#creds_text_fields{
  /*text-align: center;*/
  width: 20%;
  float: left;
  margin-left: 20%;
}

#creds_text_answers_wrapper{
  width: 20%;
  float: left;
  left-margin:0%;
}

#creds_text_answers{
  /*text-align: center;*/
  width: 20%;
  float: right;
}

/*----------------------------------- Interests ------------------------------*/

div.interests{
  top:13%;
  position:relative;
  height:20%;
  width:80%;
}

/*--------------------------------- Philosophies -----------------------------*/

div.philosophies{

}


/*----------------------------------- General Style --------------------------*/
.html{
  width:100%;
}

body {
  background-color: powderblue;
  margin: 0;
  /*height:10000px;*/
}
/*h1 {
  color: blue;
}*/
div {
    border-radius: 10px;
}