/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

html:not([data-fixed='true']) div.nav_bar.center{
    position: relative;
    top: 0px;
}

html:not([data-fixed='false']) div.nav_bar.center{
  position: fixed; 
  top: 0px;
}


/*html:([data-fixed="false"]) {
  div.nav_bar.center{
    position: relative;
    top: 100px;
  }
}

html:([data-fixed="true"]) {
  div.nav_bar.center{
  position: fixed; 
  top: 0px;
  }
}


*//*html:([data-fixed="false"]) div.nav_bar.center{
    position: relative;
    top: 100px;
}

html:([data-fixed="true"]) div.nav_bar.center{
  position: fixed; 
  top: 0px;
}*/

div.nav_bar.center{
    overflow: auto;
    padding: 2px 2px;
    width: auto;
    border: none;
    font-size: 16px;
    background-color: #282A35;
    color: #f1f1f1;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

div.nav_bar.column {
    float: right;
    width: calc(98%/6);
    padding: 2px;
}

/* Clear floats after the columns */
div.nav_bar.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: powderblue;
  margin: 0;
  height:10000px;
}
h1 {
  color: blue;
}
p {
  color: red;
}
div {
    border-radius: 10px;
}