
/*Used for fixed vs relative navigation bar*/
/*html:not([data-fixed='true']) div.nav_bar.center{
  position: relative;
  top: 0px;
}

html:not([data-fixed='false']) div.nav_bar.center{
  position: fixed; 
  top: 0px;
}*/

/*--------------------------------- Page Template ----------------------------*/

.center {
  margin: 0px;
  width: 50%;
  padding: 0px;
}

div.nav_bar.center{
  position: fixed; 
  top: 0px;
  z-index: 1;
  border: none;
  font-size: 12px;
  background-color: #282A35;
  color: #f1f1f1;
  width: 102%;
  height:40px;
  font-family: 'Source Sans Pro', sans-serif;
}

div.nav_bar.column {
    float: right;
    width: calc(100%/6);
    padding: 2px;
}

/* Clear floats after the columns */
div.nav_bar.row:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------- Home Page ----------------------------*/

.home_bg{
  background-image: url("https://andrewleiwebresources.blob.core.windows.net/website-resources/iceberg-01.png");
  height:375%;
  width:100%;
  padding:0px;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_bg{
  background-color:rgba(255, 255, 255, 0.5);
}

/*------------------------------------- Intro --------------------------------*/

div.intro{
  position: relative;
  top:40px;
  height:600px;
}

#intro_text{
  float:left;
  width:55%;
  position: relative;
  margin-left: 30px;
  top:60px;
  font-size: 56px;
  overflow: auto;
}

#intro_img_wrap{
  float:left;
  width:40%;
  position: relative;
  top:200px;
}

#prof_pic{
  position:relative;
  width:200px;
  margin-left: 10px;
}

#waves_wrap{
  position:absolute;
  bottom:30px;
  width:100%;
  height:100px;
}

#waves{
  width:100%;
}

/*----------------------------------- Credits ----- --------------------------*/

#credits{

}




/*----------------------------------- General Style --------------------------*/
.html{
  width:100%;
}

body {
  background-color: powderblue;
  margin: 0;
  /*height:10000px;*/
}
h1 {
  color: blue;
}
p {
  color: red;
}
div {
    border-radius: 10px;
}